h1,h2,h3,p{
  Font-family: Roboto;
  font-weight: normal ;
}

h1,h2{
  color:#8282CE;
}

h1{
  font-size: 4rem;
}

h2{
  font-size:3.5rem;
}

h3{
  font-size: 2rem;
}

.center{
  text-align: center;
}

.fullHeight{
  height:100vh;
}

.purpleBG{
  background-color: #403A7D;
  color:white;
}

.title{
width: 25%;
padding:0.1rem 0;
background-color: #8282CE;
border-radius: 0px 45px 45px 0px;
color: white;
}

.darktitle{
  width: 25%;
  padding:0.1rem 0px;
  background-color: #403A7D;
  border-radius: 0px 45px 45px 0px;
  color: white;
  }

.contentPadding{
  padding: 5rem 0rem;
}